# Spotify API
SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REFRESH_TOKEN=your_refresh_token

# プレイリスト設定
SPOTIFY_PLAYLIST_ID=your_playlist_id

# 対象番組名（部分一致）
TARGET_PROGRAM_NAME=あのころヒッツ! 一挙5時間！ 2021→2025年
